@charset "UTF-8";

header {
    display: flex;
    height: auto;
    background-color: black;
    border-bottom: 1px solid darkgoldenrod;
    margin-bottom: 10px;
}

.app-header__menu {
    margin: auto;
}

.app-header__menu nav {
    display: inline-block ;
}

.app-header__menu a{
    text-decoration: none;
    padding-right: 30px;
}

.app-header__menu a:hover {
    color: darkgoldenrod;
}

.app-header__logo {
    height: 70px;
}

.app-header__compte {
    display: inline-block;
    margin : auto 0;
    
}

.app-header__compte a{
    text-decoration: none;
    padding-right: 10px;
}

.app-header__compte a:hover {
    color: darkgoldenrod;
}
