@charset "UTF-8";

* {
    font-size: 1em;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin:0;
    padding:0;
    background-color : black;
}

h1 {
    
    font-size: 4em;
    font-family: 'Libre Baskerville', serif;
    color: darkgoldenrod;
}

